<footer>
	<div class="footer-columns">
		<div class="footer-column">
			<h3>Contact</h3>
			<p>Email: <a href="mailto:HRfH@manchester.ac.uk">HRfH@manchester.ac.uk</a></p>
		</div>

		<div class="footer-column">
			<h3>Find us</h3>
			<p>
				3rd Floor <br />
				Christabel Pankhurst Institute <br />
				Dover Street <br />
				Manchester <br />
				M13 9PS UK
			</p>
		</div>

		<div class="footer-column">
			<h3>Connect with us</h3>
			<a href="https://emarketing.manchester.ac.uk/l/166/hrfhsubscribe">Subscribe to our newsletter</a>
			<a href="https://documents.manchester.ac.uk/display.aspx?DocID=74034">Privacy notice</a>
			<div class="social-icons">
				<a href="https://www.linkedin.com/company/health-research-from-home/" aria-label="LinkedIn">
					<i class="fab fa-linkedin" aria-hidden="true"></i>
				</a>
				<a href="https://www.youtube.com/@HealthResearchfromHome" aria-label="YouTube">
					<i class="fab fa-youtube" aria-hidden="true"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="footer-links">
		<p>
			<a href="https://www.manchester.ac.uk/disclaimer/">Disclaimer</a> |
			<a href="https://www.manchester.ac.uk/about/privacy-information/data-protection/">Data protection</a> |
			<a href="https://www.manchester.ac.uk/copyright/">Copyright</a> |
			<a href="https://sites.manchester.ac.uk/health-research-from-home/accessibility.php">Accessibility</a> |
			<a href="https://www.manchester.ac.uk/about/privacy-information/freedom-information/">Freedom of information</a> |
			<a href="https://www.manchester.ac.uk/about/governance/charitable-status/">Charitable status</a> |
			Royal Charter Number: RC000797
		</p>
	</div>
</footer>
