<div class="more-posts">
<h3>More from Tap into Research</h3>

<ul class="other-posts">
    <li>
        <a href="post1.html"> Predicting pain improvement with a digital health app </a>
    </li>

    <li>
        <a href="post2.html"> Understanding fatigue in inflammatory arthritis </a>
    </li>

    <li>
        <a href="post3.html"> How digital health is changing arthritis research </a>
    </li>

    <li>
        <a href="post4.html"> New approaches to managing chronic pain </a>
    </li>
</ul>
</div>