<div class="tir-card">
    <ul class="other-posts">
        <li>
            <a href="Webinars.html">Webinars</a>
        </li>

        <li>
            <a href="Information Governance.html">Information Governance</a>
        </li>

        <li>
            <a href="ppie.html">
                Patient and Public Involvement and Engagement
            </a>
        </li>

        <li>
            <a href="Bid Writing.html">Bid Writing</a>
        </li>

        <li>
            <a href="Technology.html">Technology</a>
        </li>

        <li>
            <a href="Methods.html">Methods</a>
        </li>

        <li>
            <a href="tap-into-research.html">Tap into Research</a>
        </li>
    </ul>
</div>